* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgb(245, 244, 244);
  background-color: #0d1321;
  line-height: 1.8;
}

img {
  width: 30%;
}

.sec01 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.sec01Ldiv,
.sec01Rdiv {
  width: 50%;
}

.sec01Ldiv {
  margin-left: 8%;
}

.sec01Ldiv h1 {
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  color: #e9e9e9;
  line-height: 1.2;
  margin-left: 13px;
}
.fHeading {
  display: flex;
}

.vrline {
  border-left: 7px solid #32bf7f;
  height: 116px;
  margin-top: 14px;
}

span {
  color: #f94e4e;
}

.shams {
  width: 60%;
  margin-left: 15%;
  margin-top: 5%;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  background: #32bf7f;
  padding: 12px 40px;
  margin: 20px 0;
  display: inline-block;
  border: none;
  border-radius: 8px;
}
.headsec02 {
  text-align: center;
  margin-bottom: 35px;
}

.sec02 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 50px;
  margin-bottom: 200px;
}

h2 {
  font-size: 50px;
  color: #afa0a0;
}

.misvisgoal {
  display: flex;
  justify-content: center;
}

.mis,
.vis,
.goa {
  width: 20%;
  color: #1f1f1f;
}

.mis {
  background-color: #c5fcef;
  margin-right: 30px;
  margin-left: 100px;
  padding: 25px 20px;
  border-radius: 20px;
}

.vis {
  background-color: #b6b6ff;
  margin-right: 30px;
  padding: 25px 20px;
  border-radius: 20px;
}

.goa {
  background-color: #ffef92;
  margin-right: 100px;
  padding: 25px 20px;
  border-radius: 20px;
}

.mission {
  font-weight: 900;
  font-size: 20px;
}
.vision {
  font-weight: 900;
  font-size: 20px;
}
.goal {
  font-weight: 900;
  font-size: 20px;
}

.sec03,
.sec04 {
  display: flex;
  margin: 0 100px 100px 100px;
  align-items: center;
  justify-content: center;
  color: #c07cff;
}

.sec03Ldiv,
.sec03Rdiv {
  width: 48%;
}

#learning {
  width: 70%;
  border-radius: 20px;
}

h3 {
  font-size: 35px;
  color: #c07cff;
}

.sec04Ldiv,
.sec04Rdiv {
  width: 48%;
}

#webImg {
  width: 70%;
  border-radius: 20px;
  margin-left: 25%;
}

.sec05 {
  font-weight: 400;
  margin: 150px 0;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
}
.headIns h2 {
  color: white;
  text-align: center;
}

.persons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.shovon,
.jhankar,
.sayma {
  width: 25%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.jhankar {
  margin: 0 -7% 0 -7%;
}

#insPer {
  width: 150px;
  border-radius: 50%;
  /*box-shadow: 0px 0px 0px 10px rgb(170 170 170 / 20%);*/
}

.per1 {
  box-shadow: 0px 0px 0px 10px #313131;
}

.per2 {
  box-shadow: 0px 0px 0px 10px #2b4f9b;
}

.per3 {
  box-shadow: 0px 0px 0px 10px #b6d553;
}

footer {
  background-color: rgb(180, 180, 180);
  text-align: center;
  color: #0d1321;
  padding: 50px 0;
}

footer h4 {
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

footer p {
  font-size: 14px;
}
